<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/head"/}
    <link rel="stylesheet" href="__PUBLIC__/css/layui.css"  media="all">
    <title>编辑管理员</title>
</head>
<body>
{include file="common/nav"/}
{include file="common/left"/}
<div class="col-md-10 right">
    <form action="" class="form-mt" method="post">
        {volist name="admin" id='a'}
        <div class="form-group">
            <input value="{$a.adminname}" class="form-title" type="text" name="adminname">
        </div> 
        <div class="form-group">
                <input value="" class="form-title" type="text" name="password">
            </div> 
        <div class="form-group">      
            <input class="form-title" type="hidden" name="adminid" value={$a.admin_id} readonly>  
        </div>
        {/volist}
        <div class="form-group">
            <div class="btn-box">
                <input type="submit" id="submit" class="btn btn-primary">
            </div>
        </div>                
    </form>
</div>


<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>

</body>
</html>



