<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/head"/}
    <title>管理员页面</title>
</head>
<body>
    {include file="common/nav"/}
   
    {include file="common/left"/}
        <div class="col-md-10 right">           
                <a href="{:url('admin/addadmin')}" class="btn btn-default">+ 添加管理员</a>
                <table class="table table-striped table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center" width="100px">AdminID</th>
                                <th class="text-center">管理员名称</th>   
                                <th class="text-center">创建时间</th>
                                <th class="text-center" width="240px">操作</th>
                            </tr>
                            </thead>
                            <tbody>   
                            {volist name="admin" id='a'}   
                            <tr>
                                <td align="center">{$a.admin_id}</td>
                                <td align="center">{$a.adminname}</a></td>  
                                <td align="center">{$a.add_time|tranTime =###}</a></td>  
                                                                                
                                <td align="center"> 
                                    <a href="{:url('admin/editadmin')}?adminid={$a.admin_id}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 编辑
                                    </a>
                                    {if $a.admin_id != 1}                                   
                                    <a href="{:url('admin/deladmin')?adminid={$a.admin_id}}" onClick="warning('确实要删除吗')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                    {else/}
                                    {/if}
                                </td>
                            </tr>     
                            {/volist}               
                        </tbody>
                        <div class="page-list">
                            {$admin->render()}
                        </div>
                </table>
        </div>
    
</body>
</html>