<!DOCTYPE html>
<html lang="zh-CN">
<head>
		{include file="common/head"/}

		<title>文章页</title>
</head>
<body>
<div id="content">
		{include file="common/nav"/}
		<!--nav结束-->

		<hr class="h_10">

		<div class="container">
				<div class="col-md-10 col-md-offset-1 article">
						{volist name="article" id="art"}
						<div class="art-bg"><img src="__COVER__/{$art.cover}"/></div>
						<div class="article-bd">
								<div class="article-head">
										{$art.title}
								</div>
								<div class="article-info">
										<ul class="art-info">
											<li><a href="{:url('homepage/index',['u'=>$art['user_id']])}">{$art.username}</a></li>
											<li><a>发布于{$art.create_time|date="m-d",###}</a></li>												
										</ul>
								</div>
								<div class="article-cont">
									<div class="article-detail">
										<div class="article-intro">
												<div class="article-i-style">{$art.intro}</div>
										</div>
										<div class="article-richtext">
											{$art.content}
										</div>												
									</div>
								</div>
								</div>								
								{/volist}

						<div class="h_25"></div>
						<div class="article-nominate">
								<div class="title-bar">推荐阅读</div>
								<div class="article-no-list">
										<ul class="art-no-list">
												{volist name="artlist" id="li"}
												<li class="art-no-li-item">
														<a class="nomi-title" href="{:url('Article/index',['artid'=>$li['aid']])}">{$li.title}</a>
														<p><a href="{:url('Homepage/index',['artid'=>$li['aid']])}">{$li.username}</a> {$li.intro}</p>
												</li>
												{/volist}
										</ul>
										<a class="ul-bot" href="{:url('Article/artlist')}">查看更多</a>
								</div>
						</div>
				</div>
		</div>
		<div class="h_25"></div>
		{include file="common/footer"/}
</div>

{include file="common/js"/}
</body>
</html>
