<div class="col-md-2">
		<ul class="list-group hidden-md hidden-sm hidden-xs">
				<!--这里最好建一个数据表，根据表添加栏目，循环-->
				<li class="list-group-item"><a href="/index/index/index.html">首页</a></li>
								<li class="list-group-item"><a href="/index/cate/index/cateid/2.html">娱乐圈</a></li>
								<li class="list-group-item"><a href="/index/cate/index/cateid/3.html">军事</a></li>
								<li class="list-group-item"><a href="/index/cate/index/cateid/4.html">科技</a></li>
								<li class="list-group-item"><a href="/index/cate/index/cateid/5.html">国际</a></li>
								<li class="list-group-item"><a href="/index/cate/index/cateid/6.html">国内</a></li>
						</ul>
</div>
