
		<div class="admin_post">
				<div class="hot_head">
						<a class="pull-left">公告栏</a>

				</div>
				<div class="hot_ul">
						<ul class="list-group">
																<li class="list-group-item"><a href="/index/info/index/infoid/7.html">一二三四</a><span class="pull-right">11分钟前</span></li>
																<li class="list-group-item"><a href="/index/info/index/infoid/2.html">新学期计划发表集合</a><span class="pull-right">昨天 05-10 00:31:19</span></li>
																<li class="list-group-item"><a href="/index/info/index/infoid/6.html">xingnggao</a><span class="pull-right">昨天 05-09 16:13:21</span></li>
																<li class="list-group-item"><a href="/index/info/index/infoid/5.html">2018-2019-2学期专门重修班教学通知</a><span class="pull-right">03-27 09:16:00</span></li>
																<li class="list-group-item"><a href="/index/info/index/infoid/1.html">教务公告</a><span class="pull-right">03-25 22:36:40</span></li>
														</ul>
				</div>
		</div>
</div>
