<!DOCTYPE html>
<html lang="en">
<head>    
    <title>转发</title>
    {include file="common/head"/}
</head>
<body>
    <div class="sendbox">
        <!-- <div class="head-bar">
            {volist name="name" id="n"}
            <div class="head-image"><img src="__PUBLIC__/{$n.avatar}"></div>
            <div class="head-name m_15">{$n.username}</div>
            {/volist}
        </div> -->
        <div class="trans-content-text">
            {volist name="post" id="p"}
            <div class="quotes_cont">
                <div class="quotes-head-bar" data-resource="{$p.pid}">
                    <div class="quotes-head-name"><a href="{:url('Homepage/index',['u'=>$p['user_id']])}">@{$p.username}</a></div>
                </div>
                <div class="quotes-content-text">
                    <p>{$p.content}</p>
                </div>
                <div class="quotes_func">
                    <div class="quotes-head-time pull-left">{$p.add_time|tranTime=###}</div>                    
                </div>
            </div>
            {/volist}
        </div>    
        <div class="sendbox_trans">
            <div class="input-area">
                <textarea name="send-weibo" id="transcont"></textarea>
            </div>
            <div class="func-area">
                <div class="kind">                   
                        <input class="btn btn-primary" value="转发" type="button" id="trans">
                </div>
            </div>          
        </div>
        
    </div>
    {include file="common/js"/}
    <script type="text/javascript">
        $("#trans").click(function () {
            let pid  = $('.quotes-head-bar').attr('data-resource');
            console.log(pid);
            let cont = $("#transcont").val();
            $.ajax({
                url:'/index/Index/TransPost',
                    data:{'pid':pid,'cont':cont},
                    type:"post",
                success:function(data){
                                    if(data===1){
                        layer.alert('转发成功！',function () {
                                window.parent.location.reload();
                                parent.layer.close();
                        })
                                    }else{
                        layer.alert('转发失败！',function () {
                            window.parent.location.reload();
                            parent.layer.close();
                        })
                                    }
                },
            });
        });
    </script>          
</body>
</html>
