<div class="col-md-2 left">
        <div class="col-sm-12 manage">
            <a href="{:url('admin/index')}">管理员管理</a>
        </div>
        <div class="col-sm-12 manage">
            <a href="{:url('article/index')}">文章管理</a>
        </div>
        <div class="col-sm-12 manage">
            <a href="{:url('unit/index')}">栏目管理</a>
        </div>
        <div class="col-sm-12 manage">
            <a href="{:url('talks/index')}">说说管理</a>
        </div>
        <div class="col-sm-12 manage">
            <a href="{:url('info/index')}">发布公告</a>
        </div>
        
</div>